.item-recipe {
    margin-bottom: 10px;
    padding: 5px;
    background-color: rgb(169, 169, 169);
    border-radius: 12px;
    border: 1px solid darksalmon;
    cursor: pointer;
    &:hover {
        background-color: #ccaa55;
    }
}
